

* {
    margin: 0 0;
    padding: 0 0;
}

/* body {
    width: 95%px;
    margin: 0 auto;
    position: relative;
} */
.header {
   max-width: 70%;
   height: 160px;
   margin: 0 auto;
   background: url(https://c2.staticflickr.com/2/1744/42570341811_28896950b7_b.jpg) no-repeat center;
   opacity: 0.75;   
  
}

.main {
    max-width: 50%;
    margin: 15px auto;
}
.header h1 {
    font-size: 3.5em;
    line-height: 150px;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
 }

.main p {
    text-align: center;
    font-family: sans-serif;
    line-height: 2.25em;
    text-indent: 5px;
 }

 /*
.main img {
    width: 75%;
    height: auto;
    margin: 10px auto;
    display: table-cell;
    vertical-align: middle;
}*/

img {
    width: 100%;
    height: auto;
    margin: 10px auto;
    display: table-cell;
    vertical-align: middle;
}

.footer {
    text-align: center;
    font-size: 0.7072135785em;
    margin-top: 50px;
    margin-bottom: 10px;
}
