* {
    margin: 0;
    padding: 0;
}
a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
    margin: 0.01em;
}

body {
    font-family: Roboto,sans-serif;
    color: #212121;
}

#container {
    max-width: 65%;
    margin: 0 auto;
    margin-top: 64px;
}
#topnav {
    width: 100%;
    height: 25px;
}
#tp_home {
    width: 20%;
    height: 25px;
    float: left;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

#content {
    padding-top: 25px;
}
h2 {
    margin: 5px;
}

h3 {
    margin: 7px;
}
#aircraft_list {
    float: none;
    width: auto;
    height: auto;
}

#aircraft_list_a {
    float: left;
    width: 50%;
}

#aircraft_list_B {
    float: left;
    width: 50%;
}





a {
    padding: 3px;
    color: #0063dc;
}

/* .aviation p {
    float: left;
    padding: 5px;
}

.buses h3 {
    clear: both;;
}

.buses p {
    float: left;
    padding: 5px;
}

.citys h3 {
    clear: both;;
}

citys p {
    float: left;
    padding: 5px;
} */

img {
    width: 100%;
    height: auto;
    margin: 10px auto;
    display: table-cell;
    vertical-align: middle;
}

table {
    width: 100%;
    height: auto;
    margin: 10px auto 10px auto;
    border: thin solid black;
    border-collapse: collapse;
    text-align: center;

}
caption {
    font-size: 20px;
    height: 25px;
    line-height: 25px;
    margin: 10px 0;
}
tr {
    height: 20pt;
}
td {
    height: 20pt;
    width: auto;
    border: thin solid gray;


}
th {
    background-color: #ccc;
    border: thin solid gray;
}

#list {
    margin-top: 64px;
    line-height: 2em;
}

#footer {
    font-size: 0.7072135785em;
    margin-top: 50px;
    margin-bottom: 10px;
}
